$color-accent: #DA5554;
$color-accent-text: #BE4948;
$color-text: #465069;
$color-text-context: #8C99B9;
$color-text-disabled: #dadce1; // rgba(70, 80, 105, 0.2)
$color-dark-gray: #39435B;
$color-light-gray: #E5E5E5;
$color-very-light-gray: #F7F7FA;
$color-border: #EFEFF4;
$color-checkbox-background-dark: #767d8e; // rgba(57, 67, 91, 0.69)
$color-table-hover: #f6f6f8; // rgba(70, 80, 105, 0.05)
$color-background: rgba(57, 67, 91, 0.75);
$color-checkbox-background: #EBEDEF;
$color-esia: #0164B1;
$color-gray: #219653;